@import "compass_twitter_bootstrap";
@import "../components/deck.js/core/deck.core";


.slide-background{
  background-image: url("../images/yeoman-logo.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 25%;
}